[user]
	name = myaox
  emal = llgoodrr@gmail.com
	email = llgoodrr@gmail.com

[color]
  status = auto
  diff   = auto
  branch = auto
  interractive = auto
  grep   = auto

[ghq]
  root = ~/src
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
